## Dictionary
- 영어 사전
    - 단어: 뜻
    - 키: 값
    - 순서가 없다. => 인덱싱 불가능
    - "키로 값을 찾는다." -> 중요한 점
        - 키는 중복되지 않는 고유한 값
    - 가변: 수정, 삭제, 추가, 가능
    - 타입: dict
    - 형변환: 'dict()'
    - 중고라호 사용 {}, 콤마로 구분됨
    - 값에 다양한 자료구조가 올 수 있음
        - a: 1, a:[1,2,3,4]

In [1]:
a = [1, 2, 3]
a[0]

1

In [3]:
empty = dict()
empty = {}
#set {}
empty = {} #dict type
emty = set()
type(empty)

dict

In [4]:
a = {1, 2, 3} #set
a = {1: 'apple', 2: 'banana', 3:'kiwi'} #dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [5]:
b = {'':'', '': '', '':''}
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [ ]:
#출석부로 딕셔너리 만들기
이름, 학번=key, 학과
james 202201 경제학과
laura 202203 스페인어과
louis 202202 컴공과

{202201:['james', '경제학과'], 202203:['laura', '스페인어과'], 202202:['louis', '컴공과']}

### 형변환

In [7]:
ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [8]:
ex2 = [(1, 2), (2, 3), (1, 3)]
dict(ex2)

{1: 3, 2: 3}

In [9]:
ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

### 항목 조회 & 변경

In [10]:
pythons = {
    'Champman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}

In [11]:
pythons['Idle']

'Eric'

In [14]:
pythons['Hwa'] = 'Chloe' #추가

In [13]:
pythons['Idle'] = 'James' #변경
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [15]:
# 예외 없이
'Hwa' in pythons

True

In [16]:
# get()
pythons.get('Lee', 0) #없는 키는 None 변환

0

### 전체 조회
- keys()
- values()
- items()

In [22]:
list(pythons.keys())

['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [20]:
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [21]:
pythons.items()

dict_items([('Champman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [23]:
for k, v in pythons.items():
    print(f'{k} = {v}')

Champman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

In [24]:
{(k, v) for k, v in pythons.items()}

{('Champman', 'Graham'),
 ('Cleese', 'John'),
 ('Hwa', 'Chloe'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael')}

In [25]:
[k[1] for k in pythons.items()] #0=key, 1=value

['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe']

In [27]:
[k for k in pythons.items()] #keys

[('Champman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

### ex

animal: num_leg 딕셔너리 만드시오.

In [28]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [35]:
num_leg = {}
for k in range(len(animal)):
    num_leg[animal[k]] = legs[k]
print(num_leg)

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

Q. pythons 에서 성:이름, 성 첫 글자만, 이름은 글자 개수로 이뤄진 튜플(성, 이름) 리스트로 변환하기
- dict comprehension 쓰지 말기

In [38]:
[(key[0], len(value)) for key, value in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

### 값 수정, 삭제, 복제, 비교

In [39]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [40]:
others = {
    'Marx' : 'Groucho',
    'Houward' : 'Moe'
}

others

{'Marx': 'Groucho', 'Houward': 'Moe'}

In [41]:
pythons.update(others)

In [42]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Houward': 'Moe'}

In [43]:
#py 3
{**others, **pythons}

{'Marx': 'Groucho',
 'Houward': 'Moe',
 'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [44]:
#삭제
del pythons['Hwa']

In [45]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Houward': 'Moe'}

In [46]:
del pythons['Lee']

KeyError: 'Lee'

In [47]:
pythons.pop('Marx')

'Groucho'

In [48]:
pythons.pop('Lee', 0) #없으면 예외는 나지만, 예외 시 출력 값을 지정할 수 있다.

0

In [49]:
#전체 삭제
pythons.clear()
pythons = {}

In [50]:
pythons

{}

### 복제
- 할당
- 얕은 복사 : c = a.copy()
- 깊은 복사

In [51]:
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a,b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [52]:
c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [53]:
a = {1: [1, 2, 3], 2:[2, 3, 4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [55]:
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 999, 3], 2: [2, 3, 4]})

#### 비교
- 같다, 다르다만 된다.

In [56]:
a != b

True

### EX
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성=pluto 추가하기
3. '성'으로 끝나지 않은 키 삭제하기
    dic dict1['태양'] - X
4. sorted 이용해서 값 정렬하기 1) key, 2) value

In [6]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mecury venus earth mars jupiter saturn uranus neptune'.split()

In [7]:
dictionary = dict(zip(solar_kor, solar_eng))
print(dictionary)
add = {
    '명왕성':'pluto'
}
dictionary.update(add)
for i in list(solar)
if '성' in dictionary:

SyntaxError: invalid syntax (335824605.py, line 7)

In [8]:
system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
    
system['명왕성'] = 'pluto'
dict([(k, system[k]) for k in system if k.endswith('성')])
system

{'태양': 'sun',
 '수성': 'mecury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

### 컴프리헨션

In [58]:
letter = 'apple'
#a: 1, p: 2, ...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [60]:
# 단어의 모음세기
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회
# vowel 순회

In [62]:
{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [66]:
{w: word.count(w) for w in set(word) if w in vowels}

{'o': 4, 'i': 1, 'e': 1, 'a': 2}

In [9]:
system

{'태양': 'sun',
 '수성': 'mecury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

#### sorting

In [10]:
sorted(system.items(), key=f(x)) #

NameError: name 'f' is not defined

In [11]:
def fx(x):
    return x[1]

In [12]:
sorted(system.items(), key=lambda x: x[1])

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mecury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

### set
- "중복이 없다"
- 집합 => 교집합, 합집합, 차집합, ...
- bag, 인덱싱도 없다.

In [16]:
empty = set()
empty

set()

In [17]:
a = {1, 2, 3}
a

{1, 2, 3}

In [18]:
a = set((1, 2, 3)) #선언, 형 변환
a

{1, 2, 3}

In [19]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [20]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [21]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

#

In [22]:
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)
        
for k, v in drinks.items():
    if 'vodka' in v and not 'cream' in v and not 'vermouth' in v:
        print(k)
        
for name, liquid in drinks.items():

IndentationError: expected an indented block (3300662815.py, line 9)

In [79]:
a = {1, 2, 3}
b = {2, 3, 4}

#교집합 ㅣ intersection
a.intersection(b)

#합집합 ㅣ union
a.union(b)
a | b

#차집합 ㅣ difference(b)
a.difference(b)
a - b, b- a

({1}, {4})

In [82]:
for k, v in drinks.items():
    if 'vodka' in v and not 'cream' in v and not 'vermouth' in v:
        print(k)

black russian
screwdriver